.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;

        &:hover {
            opacity: 0.6;
        }
    }
}