@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@mixin dark {

    --text: #e5e5e5;
    --text-contrast: #ffffff;
    --secondary: #282828;
    --secondary-bg: #303134;
    --primary: #468efd;
    --primary-activated: #468efd;
    --primary-bg: #202124;
    --markdown: #262731;
    --markdown-header: #0c0d11;
    --bg: #3b3f5c;


}

@mixin light {
    --text: #171341;
    --text-contrast: #ffffff;
    --secondary: #dfdede;
    --secondary-bg: #eaedf0;
    --primary: #468efd;
    --primary-activated: #468efd;
    --primary-bg: #ffffff;
    --markdown: #2e2f38;
    --markdown-header: #0c0d11;
    --bg: #3b3f5c;


}

:root {

    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    --navbar-height: 70px;
    --navbar-padding: 0 20px;
    --sidebar-width: 100px;
    --main-padding-top-bottom: 15px;
    --main-height: calc(100vh - var(--navbar-height));
    --main-width: calc(100vw - var(--sidebar-width));
    --box-width: calc(100vw - var(--sidebar-width));
    --box-height: calc(100vh - var(--navbar-height) - 2 * var(--main-padding-top-bottom));
    --chatbox-sidebar-width: 250px;
    --chatbox-width: calc(100% - var(--chatbox-sidebar-width));
    --full-hight: 100%;
    --border-radius: 12px;
    --chatbox-input-range-width: 100%;
    --chatbox-input-range-height: 100px;
    --chatbox-header-height: 80px;
    --chatbox-window-height: calc(100% - var(--chatbox-input-range-height) - var(--chatbox-header-height));
    --lgModal-h: 300px;
    --lgModal-w: 300px;
    --suModal-h: 350px;
    --suModal-w: 300px;
}

.light {
    @include light;
}

.dark {
    @include dark;
}