@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


@mixin dark {

    --text: #e5e5e5;
    --text-secondary: rgb(212, 211, 211);
    --text-contrast: #ffffff;
    --secondary: #515050;
    --secondary-bg: #303134;
    --primary: #468efd;
    --primary-activated: #468efd;
    --primary-bg: #202124;
    --markdown: #262731;
    --markdown-header: #0c0d11;
    --bg: #3b3f5c;


}

@mixin light {
    --text: #171341;
    --text-contrast: #ffffff;
    --text-secondary: #6f6f80;
    --secondary: #dddcdc;
    --secondary-bg: #eaedf0;
    --primary: #468efd;
    --primary-activated: #468efd;
    --primary-bg: #ffffff;
    --markdown: #2e2f38;
    --markdown-header: #0c0d11;
    --bg: #3b3f5c;


}

//position
:root {
    --chatbox-sidebar-position: initial;
    --transform-x-full: translateX(0);
    --draw-image-container-margin-left: 20px;

    @media screen and (max-width: 768px) {
        --chatbox-sidebar-position: absolute;
        --transform-x-full: translateX(-100%);
        --draw-image-container-margin-left: 0px;
    }
}

//display
:root {
    --translate-flex-direction: row;
    --draw-flex-direction: row;

    @media screen and (max-width: 768px) {
        --translate-flex-direction: column;
        --draw-flex-direction: column-reverse;
    }
}

//style
:root {

    --backdrop-filter-blur: blur(0);
    --sidebar-fullScreen-backdrop-filter-blur: blur(5);

    @media screen and (max-width: 768px) {
        --sidebar-fullScreen-backdrop-filter-blur: blur(5);
        --backdrop-filter-blur: blur(5px);

    }
}

//zIndex
:root {
    --sidebar-wrapper-z-index: 0;
    --sidebar-fullscreen-z-index: 1000;

    @media screen and (max-width: 768px) {
        --sidebar-wrapper-z-index: 1000;
        --sidebar-fullscreen-z-index: 1000;

    }
}

//Layout
:root {

    font-weight: 500;
    font-size: 14px;

    --navbar-height: 70px;
    --navbar-padding: 0 20px;
    --sidebar-width: 100px;
    --sidebar-wrapper-width: var(--sidebar-width);
    --sidebar-wrapper-width-on-closed: var(--sidebar-width) --main-padding-top-bottom: 15px;
    --main-height: calc(100vh - var(--navbar-height));
    --main-width: 100vw;
    --main-content-width-max: 100%;
    --main-content-width-min: 600px;
    --box-width: calc(100vw - var(--sidebar-width));
    --box-height: calc(100vh - var(--navbar-height) - 2 * var(--main-padding-top-bottom));
    --chatbox-sidebar-width: 250px;
    --chatbox-width: calc(100% - var(--chatbox-sidebar-width));
    --full-hight: 100%;
    --border-radius: 12px;
    --chatbox-input-range-width: 100%;
    --chatbox-input-range-height: 30px;
    --chatbox-header-height: 80px;
    --chatbox-window-height: calc(100% - var(--chatbox-input-range-height) - var(--chatbox-header-height));
    --main-margin-left-width: var(--sidebar-width);

    --modal-lg-w: 360px;
    --modal-su-w: var(--modal-lg-w);
    --input-lg-h: 56px;
    --input-su-h: var(--input-lg-h);
    --modal-font-size: 18px;
    //draw
    --draw-image-size: 450px;
    --draw-prompt-container-width: 45%;

    @media screen and (max-width: 768px) {
        --sidebar-wrapper-width-on-closed: 0px;
        --sidebar-wrapper-width: 100%;
        --main-margin-left-width: 0;
        --sidebar-width: 50vw;
        --main-width: 100vw;
        --main-content-width-max: 100%;
        --main-content-width-min: 100%;
        --chatbox-width: 100%;
        --chatbox-sidebar-width: 100%;
        --modal-lg-w: 330px;
        --input-lg-h: 46px;
        --modal-font-size: 16px;
        //draw
        --draw-image-size: 380px;
        --draw-prompt-container-width: 70%;
        // --chatbox-sidebar-width: 0px;
    }
}

//animation
:root {
    --transition-normal: all 0.2s;
    --transition-1: transform 0.1s,
        margin 0.1s,
        background-color 0.2s;

}

.light {
    @include light;
}

.dark {
    @include dark;
}