.theme {}

.container {
    display: flex;
    position: relative;
    height: var(--main-height);


}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--main-padding-top-bottom) 10px;
    margin-left: var(--main-margin-left-width);
    background-color: var(--secondary-bg);
    max-width: var(--main-width);
    width: 100%;
    transition: var(--transition-1);

    &.noMarginLeft {
        margin-left: 0;
    }

}