.container {
    display: flex;


    height: var(--main-height);

    //url("../../pages/bg.png")让这张图片作为背景图片
    //no-repeat不重复
    //center居中
    //cover覆盖
    // background: url("../../pages/bg.png") no-repeat center / cover;

}

.main {
    display: flex;
    justify-content: center;
    padding: var(--main-padding-top-bottom) 0;

    background-color: var(--secondary-bg);
    width: var(--main-width);

}