.wrapper {
    position: absolute;
    height: 100vh !important;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    overflow: hidden !important;


    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);


}

.modal {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    overflow: hidden !important;
    background-color: var(--primary-bg);

    height: fit-content;
    width: fit-content;

}