.navBarWrapper {
    padding: var(--navbar-padding);
    height: var(--navbar-height);
    background-color: var(--primary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secondary);
    color: var(--text);
    box-sizing: border-box;

}