$captchaBtnWidth: 105px;
$form-elem-margin-top: 16px;
$rowGap: 10px;

.suTitle {
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 5px;
}



header {
    margin: 0 auto;
    text-align: center;
    width: var(--modal-lg-w);

    .toggle {

        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;

        .loginMethod {
            width: 50%;
            border-bottom: 3px solid inherit;


            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.6;
            }
        }

        .smsLg {
            @extend .loginMethod;
            color: var(--primary);
            box-sizing: border-box;
            border-bottom: 3px solid var(--primary);
        }

        .pwdLg {
            @extend .loginMethod;
            color: var(--primary);
            box-sizing: border-box;
            border-bottom: 3px solid var(--primary);
        }

    }
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $rowGap;

    .pwd {
        margin-top: $rowGap !important;

    }

}






.lgCaptchaGroup {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: $rowGap;

    input {
        font-size: var(--modal-font-size);
        width: 65%;
    }

    .sendBtn {
        color: var(--text-contrast);
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 16px;
        height: var(--input-lg-h);
        width: 30%;

    }
}


.captchaGroup {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: $rowGap;

    input {
        font-size: var(--modal-font-size);
        width: 65%;
    }

    .sendBtn {
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 16px;
        height: var(--input-su-h);
        width: 30% !important;
    }
}

.noAccAndResetPwd {
    margin-top: $form-elem-margin-top;
    font-size: 16px;
    width: calc(var(--modal-lg-w) - 20px);
    display: flex;
    justify-content: space-between;


    font-style: italic;
    cursor: pointer;

    span {
        &:hover {
            text-decoration: underline;
        }

        &:active {
            opacity: 0.8;
        }
    }



}

.btn {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
    color: var(--text-contrast);
    margin-top: $form-elem-margin-top;
    width: var(--modal-lg-w) !important;
}




.login {

    margin-top: $form-elem-margin-top;
    font-style: italic;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        opacity: 0.8;
    }
}